.highlight {
  background: #f8f8f8;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  overflow: auto;
  color: #ccc;
  padding: 8px 15px;
  margin: 0 0 20px;
  vertical-align: baseline;
/*line-height font-size * line-height*/
}
.highlight .gutter {
  display: none
}
.highlight .gutter pre,
.gist .gist-file .gist-data .line-numbers {
  color: #666;
}
.highlight .line {
  height: 1.5rem;
  font-family: 'Source Code Pro', 'DejaVu Sans Mono', 'Droid Sans Mono', Menlo, Consolas, Monaco, 'Lucida Console', 'Courier', monoscape;
}
.highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.highlight table {
  margin: 0;
  width: auto;
}
.highlight td {
  border: none;
  padding: 0;
}
.highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.highlight figcaption a {
  float: right;
}
.highlight .gutter pre {
  text-align: right;
  padding-right: 1rem;
/*height font-size * line-height*/
}
.gist {
  border-style: solid;
  border-width: 1px 0;
  background: #2d2d2d;
}
.gist .gist-file {
  border: none;
  margin: 0;
}
.gist .gist-file .gist-data {
  background: none;
  border: none;
}
.gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
}
.gist .gist-file .gist-meta a {
  font-weight: normal;
}
.gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
