mixin article(article)
  include meta
  section
    +meta(article)
    .article-content
      != article.content
    +comments_thread(article)

mixin comments_thread(article)
  if article.comments
    if theme.disqus_shortname
      include disqus
      #disqus_thread.comments
        +disqus_thread_script(article)