footer
  p
    | <small>Powered by <a href="https://hexo.io/" target="_blank">Hexo</a>. <a href="https://github.com/beta/minimal" target="_blank">Minimal</a> theme by <a href="https://github.com/beta" target="_blank">Beta</a>.</small>
