footer
  p
    | <small>Powered by <a href="https://hexo.io/" target="_blank">Hexo</a>. <a href="https://github.com/7bitex/hexo-theme-minimal" target="_blank">Minimal</a> theme by <a href="https://github.com/7bitex" target="_blank">7bitex</a>.</small>
