meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
if config.author
  meta(name='author', content=config.author)
if config.description
  meta(name='description', content=config.description)
title
  if page.title
    = page.title
  else
    = config.title
link(rel='stylesheet', href='/css/style.css')
link(rel='stylesheet', href='/css/highlight.css')
if theme.favicon
  link(rel="icon", href=theme.favicon)
